.js_enabled #cookie-message {
    display: none;
}

.table-cut {
    border-right: 1px solid black;
}

@media (max-width: 1280px) {
    .hide-below-extralage {
        display: none !important;
    }
}

.extralarge-content {
    max-width: 1280px;
    margin: auto;
}

.table-header-fork-selected {
    background-color: green;
}

.table-header-fork {

}

.table-header-fork-container {

}

.w3-primary, .w3-hover-primary:hover {
    color: #fff !important;
    background-color: #CC1B59;
}

.nowrap {
    white-space: nowrap;
}

@media (max-width: 420px) {
    .js-coin-select-outer {
        padding: 0 0.4rem !important
    }

    .js-coin-select > span {
        margin: 0 0.2rem !important;
    }
}


.js-forks-table-wrapper-decoration {
    pointer-events: none !important;
}
