$prefix: 'js-';

html {
    font-size: 16px;
}

// colors
$white:             #ffffff;
$main-color:        #cc1b59;
$second-color:      #53085E;
$light-grey:        #fafafa;
$darker-grey:        rgba(0, 0, 0, 0.2);
$dark-blue:         #08174C;

.#{$prefix}header {
    display: block;
    @media screen and (min-width: 600px) {
        display: flex;
    }
    justify-content: space-between;
    padding: 2rem;
}

a.#{$prefix}logo {
    display: block;
    width: 100%;
    max-width: 61vw;
    @media screen and (min-width: 600px) {
        width: 150px;
    }
    svg {
        width: 100%;
        height: auto;
    }
}

div.#{$prefix}header-select-section {
    display: block;
    width: 100%;
    margin-top: 1rem;
    @media screen and (min-width: 600px) {
        width: auto;
        margin-top: 0;
    }
    div.#{$prefix}custom-select {
        display: inline-block;
        position: relative;
        svg {
            width: 100%;
            height: auto;
        }    
        &:after {
            content: '';
            display: block;
            background: transparent url('/dropdown.svg') center center no-repeat;
            background-size: 17px;
            width: 14px;
            height: 6px;
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%)
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;   
        -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */    
        -moz-border-radius: 0;  /* Firefox 1-3.6 */     
        border-radius: 0;  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        border: 0;
        border-radius: 5px;
        background: $light-grey;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        position: relative;
    }
}


@mixin coin-box {
    margin: 0 0.5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 171px;
    height: 118px;
    display: flex;
    align-items: center;
    transition: 300ms box-shadow;
    transition: 300ms background-color;
}

@mixin coin-box-shadow {
    box-shadow: 0px 2px 16px rgba($color: #000000, $alpha: 0.2);
}

div.#{$prefix}coin-select {
    justify-content: center;
    display: flex;
    margin-bottom: 3rem;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
    .#{$prefix}active-coin {
        @include coin-box;
        @include coin-box-shadow;
        background: linear-gradient( 0deg, $main-color, $second-color );
        color: $white;
    }
    .#{$prefix}inactive-coin {
        @include coin-box;
        background: $light-grey;
        &:hover,
        &:focus {
            @include coin-box-shadow;
            background: $main-color;
            color: $white;
        }
    }
}

// the price in the H1, should only appear once in this constellation
h1 b span {
    color: $main-color;
}

h1 {
    line-height: 1.2;
}

h2 {
    font-weight: bold;
    font-size: 18px;
}

.#{$prefix}main-page-heading {
    margin-bottom: 1rem;
}

.#{$prefix}forks-table-wrapper-decoration {
    display: block;
    width: 100%;
    height: 20rem;
    background: radial-gradient(circle at 50%, $second-color, $dark-blue);
    opacity: 0.2;
    clip-path: polygon(0rem 0rem, 100% 10rem, 100% 100%, 0% 100%);
}

.#{$prefix}forks-table-wrapper {
    background: radial-gradient(circle at 50%, $second-color, $dark-blue);
    padding: 10rem 0rem;
    clip-path: polygon(0 10rem, 100% 0%, 100% 100%, 0% 103%);
    margin-top: -20rem;
    overflow: visible;
    * {
        color: $white
    }
    table {
        th {
            font-weight: normal !important;
            background: rgba($color: #ffffff, $alpha: 0.1);
        }
        tr {
            min-height: 3rem;
            &:nth-child(even) {
                background: rgba($color: #ffffff, $alpha: 0.1);
                td {
                    &:first-child { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
                    &:last-child { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
                }
            }
            td {
                vertical-align: middle;
                span {
                    display: block;
                    //line-height: 100%;
                }
            }
        }
        td.table-cut {
            border-right: 1px dotted $main-color;
        }
    }
}

.#{$prefix}right {
    text-align: right;
    span {
        text-align: right;
    }
}

#sum-forks-top {
    padding-bottom: 1rem;
}

#sum-forks {
    padding-top: 1rem;
}

.#{$prefix}js-nav-bottom {
    padding: 2rem 0rem;
    a {
        font-size: 16px;
        &:hover,
        &:focus {
            background: transparent !important;
            color: $main-color;
        }
    }
}

.#{$prefix}message-container {
    border-radius: 10px;
    max-width: 60rem;
    margin: 2rem auto;
}

.#{$prefix}footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.#{$prefix}detail-page-size {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    .#{$prefix}price-graph-detail {
        svg {
            width: 100% !important;
            height: auto !important;
        }
    }
    .#{$prefix}price-graph-back {
        display: block;
        width: 100%;
        background: $light-grey;
        padding: 3rem;
        border-radius: 10px;
    }
}

ul.#{$prefix}detail-list {
    padding: 0;
    li {
        list-style-type: none;
        padding: 0.5rem 1rem;
        &:nth-child(odd) {
            background: $darker-grey;
        }
    }
}
